.navbar {
    background-color: #FF7043;
    webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.15);
    text-shadow: 1px 1px #000;
}
body {
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.body-container {
    display:table;
    width:100%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
    background-position:center top;
    height:350px;
}
.jumbotron {
    background-color: #FAFAFA;
    text-align: center;
}
.footer {
    min-height: calc(65vh - 70px);
}
#addmovie {
    text-align: center;
    background-color: #546E7A;
    border: 1px solid #CFD8DC;
    padding: 10px 15px;
    webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.15);
    text-shadow: 1px 1px #000;
    color: #FFF;
}
#addmovie:hover {
    background-color: #90A4AE;
}
input {
    /* margin: 0 5px; */
}
button {
    padding: 10px 15px;
    background-color: #29B6F6;
    color: #FFF;
    border: none;
    margin: 15px 10px;
}
#instructions {
    padding: 15px 10px;
    font-size: 20px;
    margin-bottom: 20px;
}
.movieDiv {
    display: inline-block;
    margin: 0px 30px;
}